---
title: Решения
---
<body id="answers">
<header>
	<nav>
            <ul class="top-menu">
              <li class="active"><a href="answers.html">Решения<a></li>
              <li><a href="forwho.html">Для кого</a></li>
              <li><a href="team.html">Команда</a></li>
              <li><a href="presentation.html">Презентация</a></li>
            </ul>
           </nav>
</header>

<div class="content">
	<span>01</span><h1>
  Комереское и информационное консультатирование
</h1>
<span>02</span>
	<h1>
  Управленческий аудит и внедрение организационных изменений
</h1>
<span>03</span>
	<h1>
  Разработка и внедрение програмных комплексов
</h1>
</div>
</body>

	



