---
title: Для кого
---
<body id="forwho">
<header>
	<nav>
            <ul class="top-menu">
              <li><a href="answers.html">Решения<a></li>
              <li class="active"><a href="forwho.html">Для кого</a></li>
              <li><a href="team.html">Команда</a></li>
              <li><a href="presentation.html">Презентация</a></li>
            </ul>
           </nav>
</header>

<div class="content">
	<span>Для кого</span>
</div>
</body>
