---
title: Живасофт
---

<header>
	<nav>
            <ul class="top-menu">
              <li><a href="answers.html">Решения<a></li>
              <li><a href="forwho.html">Для кого</a></li>
              <li><a href="team.html">Команда</a></li>
              <li><a href="presentation.html">Презентация</a></li>
            </ul>
           </nav>
</header>

<div class="mainlogo">
	<img src="../images/MainLogo.png" alt="MainLogo">
</div>







