---
title: Команда
---
<body id="team">
<header>
	<nav>
            <ul class="top-menu">
              <li><a href="answers.html">Решения<a></li>
              <li><a href="forwho.html">Для кого</a></li>
              <li class="active"><a href="team.html">Команда</a></li>
              <li><a href="presentation.html">Презентация</a></li>
            </ul>
           </nav>
</header>

<div class="content">
	<span>Команда</span>
</div>
</body>
